<template>
  <div id="controls-container">
    <div id="controls-body">
      <h2>controls</h2>

      <div class="select-all">
        <input type="checkbox" id="select-all" v-model="selectAll">
        <label for="select-all">select all</label>
      </div>

      <p>
        select a route below and the latest locations of the vehicles on that
        route will display on map. the locations of the vehicles will update
        every 15 seconds
      </p>
    </div> <!-- /controls-body -->

    <div id="controls-selection-list">
      <div v-for="route in sharedState.routes" :key="route.tag" class="route">
        <input
          name="route"
          type="checkbox"
          :id="route.tag"
          :value="route.tag"
          @change="fetchVehicleLocationForClicked"
          v-model="privateState.selected"
        >
        <label
          :for="route.tag"
        >
          {{ route.title }}
        </label>
      </div>
    </div> <!-- /controls-selection-list -->
  </div>
</template>

<script>
import Map from '../Map'
import RouteInfoStore from '../RouteInfoStore'
import VehicleLocationGetter from '../VehicleLocationGetter'

const FETCH_FREQUENCY = 15000

export default {
  data() {
    return {
      // state only available to MapController
      privateState: {
        // current route selection in UI
        selected: [],
      },

      // shared state available to all who use RouteInfoStore
      sharedState: RouteInfoStore.state,
    }
  },

  methods: {
    fetchVehicleLocationForClicked(event) {
      if (!event.target.checked) {
        Map.removeVehicleLocation(event.target.value)
        this.sharedState.config[event.target.value].time = 0
      }
      else {
        VehicleLocationGetter.fetchData(
          [event.target.value], RouteInfoStore.state.config
        )
      }
    },

    fetchVehicleLocationsForSelection() {
      VehicleLocationGetter.fetchData(
        this.privateState.selected,
        RouteInfoStore.state.config
      )

      setTimeout(this.fetchVehicleLocationsForSelection, FETCH_FREQUENCY)
    },
  },

  computed: {
    selectAll: {
      get: function () {
        let selected = this.privateState.selected
        let routes = this.sharedState.routes

        return selected ? selected.length === routes.length : false
      },
      set: function (value) {
        let selected = []

        if (value) {
          for (let route of this.sharedState.routes) {
            selected.push(route.tag)
          }
        }
        else {
          for (let route of this.privateState.selected) {
            Map.removeVehicleLocation(route)
          }
        }

        this.privateState.selected = selected
      }
    }
  },

  created() {
    RouteInfoStore.fetchInfo().then(this.fetchVehicleLocationsForSelection)
  },
}
</script>

<style>
#controls-selection-list {
  max-height: 200px;
  overflow-y: auto;
  clear: both;
  margin: 1rem 0;
}

.select-all {
  float: right;
}

.route:hover {
  background-color: lavender;
}
</style>

