<template>
  <div id="app">
    <Map />
    <Controls />
  </div>
</template>

<script>
import Map from './components/Map.vue'
import Controls from './components/Controls.vue'

export default {
  name: 'app',
  components: {
    Map,
    Controls,
  }
}
</script>

<style>
#app {
  width: 800px;
  margin: 0 auto;
  border: 1px solid black;
}
</style>
